[Unit]
Description=barandos's distributed currency daemon
After=network.target

[Service]
User=barandos
Group=barandos

Type=forking
PIDFile=/var/lib/barandosd/barandosd.pid

ExecStart=/usr/bin/barandosd -daemon -pid=/var/lib/barandosd/barandosd.pid \
          -conf=/etc/barandos/barandos.conf -datadir=/var/lib/barandosd

ExecStop=-/usr/bin/barandos-cli -conf=/etc/barandos/barandos.conf \
         -datadir=/var/lib/barandosd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
